<!DOCTYPE html>
<html>
<head>
	<!--
		Cearted by : Ibrahim El Karrat
		Begin : 10 - 03 - 2018 
		At : 13:21
		End : 11 - 03 - 2018
		At : 1:38
	-->
	<meta charset="utf-8">
	<title>Simple Crud</title>
	<link rel="stylesheet" type="text/css" href="../CSS/MyCss.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:700" rel="stylesheet"> 
</head>
<body id="index_Body">
	<div class="container_00">
		<div class="flex">
			<div class=" flexed" id="coloring">
				<div class="mid" id="BlackSide">
					<div id="Left_Placement">
						<h1>Wellcome</h1>
					</div>
				</div>
			</div>
			<div class=" flexed">
				<div class="mid" id="WhiteSide">
					<div id="Right_Placement">
						This is a Test Subject,<br>
						what you have here is a Contact List that you can interact with by <br>
						Adding, removing and deleting.
					</div>
					<div >
						<a href="View_Contact.php" id="btn_View">Click her</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>